@import '../../../styles/fonts';
@import '../../../styles/variables';

.text {
  white-space: pre-line;
  line-height: 1.4;

  &__main-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  &__main-content {
    font-size: 18px;
  }
  &__title {
    font-size: 30px;
  }
  &__subtitle {
    font-size: 20px;
  }
  &__info {
    font-size: 15px;
  }
  &__link {
    font-size: 15px;
    cursor: pointer;
  }
  &--primary {
    color: $main-text-color;
  }
  &--success {
    color: $success-color;
  }
  &--danger {
    color: $danger-color;
  }
  &--link-color {
    color: $secondary-theme-color;
  }
  &--neutral {
    color: #acacac;
  }
  &--underline {
    text-decoration: underline;
  }
  &--bold {
    font-weight: 600;
  }
}
