@import '../../../styles/fonts';
@import '../../../styles/variables';

.profile-dropdown {
  &__container {
    display: flex;
    width: 280px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
    position: absolute;
    top: calc(100% + 10px);
    right: -60px;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__buttons {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 20px 0;
    flex-direction: column;
    gap: 20px;
  }

  &__close {
    padding-top: 10px;
    display: flex;
    width: 90%;
    justify-content: end;
    cursor: pointer;
  }
}
