@import '../../../styles/variables';

.header__dropdown {
  &-list {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 180px;
    background-color: $white;
    border-radius: 0 0 10px 10px;
  }
}
