@import '../../../styles/variables';

.header__dropdown {
  &-list {
    position: absolute;
    display: flex;
    padding-top: 25px;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    flex-direction: column;
    background-color: rgba($white, 0.7);
    border-radius: 0 0 10px 10px;
  }
}
