//색상
$main-theme-color: #f2f2f2;
$main-text-color: #42526e;
$secondary-theme-color: #0038bb;
$chart-color-orange: #f8a445;
$chart-color-blue: #6cafc9;
$danger-color: #df0000;
$disabled-color: #ececec;
$disabled-text-color: #777777;

// 너비
$full-width: 100vw;
$max-width: 1440px;
