@import '../../../styles/fonts';
@import '../../../styles/variables';

.header {
  background-color: $white;

  &__container {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
  }

  &__logo {
    // padding: 20px 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 65%;
    gap: 110px;

    &__item {
      position: relative;
      cursor: pointer;
      width: 180px;
      .text {
        padding: 20px 0;
      }
      &:hover {
        .header__menu__dropdown {
          display: flex;
        }
      }
    }
    &__dropdown {
      display: none;
      position: relative;
      &:hover {
        display: flex;
      }
    }
  }

  &__profile {
    position: relative;
    display: flex;
    cursor: pointer;
  }
}
