@import '../../../styles/fonts';
@import '../../../styles/variables';

.header {
  background-color: $white;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: 20px 35px;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 110px;

    &-item {
      position: relative;
      cursor: pointer;

      &:hover {
        .header__menu-dropdown {
          display: flex;
        }
      }
    }
    &-dropdown {
      display: none;
      position: relative;
      &:hover {
        display: flex;
      }
    }
  }

  &__profile {
    position: relative;
    display: flex;
    width: 8%;
    cursor: pointer;
  }
}
