@import '../styles/variables';

.change-pwd {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $main-theme-color;
    gap: 30px;
  }
}

.email-authentication {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__input {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__email {
    position: relative;
    display: flex;
    align-items: end;
    gap: 20px;
  }
  &__warning {
    position: absolute;
    bottom: -50%;
  }
  &__code {
    display: flex;
    align-items: end;
    gap: 20px;
    opacity: 0;
    // visibility: hidden;
  }
}

.set-password {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__confirm-pwd {
    position: relative;
  }
  &__warning {
    position: absolute;
    bottom: -50%;
  }
}
