@import '../styles/variables';

.login {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $main-theme-color;
    gap: 200px;
    position: relative;
  }
  &__go-home {
    position: absolute;
    top: 5%;
    left: 3%;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &__icon {
      color: $main-text-color;
    }
    &:hover {
      border-bottom: 2px solid $main-text-color;
    }
  }
  &__img {
    width: 750px;
  }
  &__content {
    width: 27%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow:
      10px 10px 20px $shadow-color,
      -10px -10px 20px $white;
    padding: 100px 55px;
  }
  &__explain {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    &__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40%;
      gap: 35px;
    }
  }
  &__change-pwd {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }
}
