@import '../styles/fonts';
@import '../styles/variables';

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $main-theme-color;
}
