@import '../styles/fonts';
@import '../styles/variables';

.main {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 745px;
    padding: 65px 0;
    background-color: $main-theme-color;
  }
}
