@import '../styles/fonts';
@import '../styles/variables';

.signup {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $main-theme-color;
    gap: 200px;
    position: relative;
  }
  &__go-home {
    position: absolute;
    top: 5%;
    left: 3%;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &__icon {
      color: $main-text-color;
    }
    &:hover {
      border-bottom: 2px solid $main-text-color;
    }
  }
  &__image {
    width: 750px;
  }
  &__content {
    width: 27%;
    height: 55%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow:
      10px 10px 20px $shadow-color,
      -10px -10px 20px $white;
    padding: 100px 55px;
  }
  &__item-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__input-button-group {
    position: relative;
    width: 510px;

    .MuiAutocomplete-root {
      width: 100%;

      .MuiFormControl-root {
        width: 100%;

        .MuiInputLabel-root {
          display: none;
        }

        .MuiOutlinedInput-root {
          padding: 0;
          border: none;
          background: transparent;
          font-family: 'Pretendard';
          color: $main-text-color;

          fieldset {
            display: none;
          }

          input {
            height: 40px;
            padding: 0 5px;
            font-size: 15px;
            border: none;
            border-bottom: 2px solid $main-text-color;
            border-radius: 0;
            background: transparent;

            &::placeholder {
              font-family: 'Pretendard';
              color: $placeholder-color;
              opacity: 1;
            }

            &.MuiInputBase-input::placeholder {
              font-family: 'Pretendard';
              color: $placeholder-color;
              opacity: 1;
            }

            &.MuiOutlinedInput-input::placeholder {
              font-family: 'Pretendard';
              color: $placeholder-color;
              opacity: 1;
            }

            &:focus {
              border-bottom: 2px solid $main-text-color;
              outline: none;
            }
          }

          .MuiAutocomplete-endAdornment {
            right: 35px;
          }
        }
      }
    }

    button {
      position: absolute;
      right: 5px;
      bottom: 0.3rem;
    }
  }
  &__submit-button {
    display: flex;
    justify-content: center;
  }
}
