@import '../styles/fonts';
@import '../styles/variables';

.signup {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $main-theme-color;
  }
  &__image {
    background-image: none;
    width: 45%;
    height: 55%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 31%;
    text-align: left;
    justify-content: flex-start;
    border-radius: 50px;
    box-shadow:
      10px 10px 20px $shadow-color,
      -10px -10px 20px $white;
  }
  &__text-group {
    padding: 50px;
  }
  &__item-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input-button-group {
    position: relative;
    margin-bottom: 10px;
    button {
      position: absolute;
      right: 5px;
      bottom: 0.3rem;
    }
  }
  &__submit-button {
    padding: 60px 0 60px 0;
  }
}
