.company-users {
  &__content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: end;
  }
  &__search {
    width: 90%;
    display: flex;
    gap: 15px;
  }
  &__checkbox {
    display: flex;
    gap: 10px;

    &__item {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
