@import '../../../styles/fonts';
@import '../../../styles/variables';

.welcome {
  &__content {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 60%;
    padding: 60px;
    background-color: $main-theme-color;
    border-radius: 20px;
    box-shadow:
      10px 10px 20px $shadow-color,
      -10px -10px 20px $white;
  }
  &__text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__start,
  &__quality {
    text-align: left;
    &__title {
      padding: 10px 0;
    }
  }

  &__button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
  }
}
