@import '../../../styles/fonts';
@import '../../../styles/variables';

.welcome {
  &__content {
    display: flex;
    justify-content: space-between;
    width: 74%;
    height: 60%;
    padding: 40px;
    background-color: $main-theme-color;
    border-radius: 20px;
    box-shadow:
      10px 10px 20px $shadow-color,
      -10px -10px 20px $white;
  }
  &__text-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }
  &__button-group {
    display: flex;
    width: 32%;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }
}
